.board {
  display: grid;
  grid-template-columns: repeat(3, 15dvmin);
  grid-template-rows: repeat(3, 15dvmin);
}

.field {
  appearance: none;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;

  &:disabled {
    color: white;
    pointer-events: none;
    background-color: black;
  }
}
